@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #445381;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("/assets/image/bg_640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (min-width: 600px) {
body {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("/assets/image/bg_1280.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
}