package layout

templ Application() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>GoChat</title>
			<script src="/assets/js/htmx.min.js" defer></script>
			<script src="/assets/js/tailwindcss.js" defer></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
